html,body{
  width: 100%;
  height: 100%;
  background-color: #222d32;
}
.panel{
  width: 380px;
  margin: 0 auto;
  transform: translate(0,150px);
}
.panel-heading{
  padding:20px 15px;
}
.panel-title{
  text-align: center;
}
.mr_50{
  margin-right: 50px;
}
